@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

main{
    background: url(../images/bg.jpg);
    font-family: 'Abril Fatface', cursive;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    color:white;
}

.container { 
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    align-items: center;
    
}

.just{width: 100%;}

.topo{
    width: 300px;
}

.topo > div {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.to_from{
    width: 350px;
    
}

.to_from > div{
    width: 250px;
    
}

.topo img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.info{
    width: 100%;
    background-color: black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.total  {
    width: 100%;
    display: flex;
    justify-content: right;
}

.total >  div{
    background-color: #2db83d;
    padding: 5px;

}

.fcc-btn{
    text-decoration: none;
}

label{
    font-size: 25px;
    color: white;
}

div{
    display:flex;
    margin-bottom: 10px;
}

div > div {
    width: 150px;
 
    
}

.caixa{
    border: none;
    border-radius: 5px;
    width: 350px;
    background-color: white;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: space-around;

    
}

.btn-act{
    padding:1rem 2rem;
    border-radius: 5px;
    border:none;
    background-color: white;
    color:black;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
}

.btn-act:hover{
    background-color: black;
    color:white;
    transition: 0.5s;
    transform: scale(1.2);
}
